<section class="section">
  <article class="media">
    <div class="media-content">
      <div class="columns is-centered">
        <div class="column is-5">
        <div class="content has-text-centered">
          <p>
            <strong class="is-size-1" style="font-family: cursive;">Casual Photo</strong>
          </p>
            <h4 id="subtitle">あなたが本当に見せたかった１枚を</h4>
            <%= render 'recruit_login' %>
        </div>
      </div>
    </div>
  </article>
</section>
