<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title" id="subtitle">
        Photos
      </h1>
    </div>
  </div>
</section>

<% if logged_in? %>
  <%= render 'index_for_login', photos: @photos_login %>
<% else %>
  <%= render 'index_for_all', photos: @photos %>
<% end %>
