<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title" id="subtitle">
        New Photo
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <%= form_with(model: @photo, local: true) do |f| %>
          <%= render 'layouts/error_messages', model: f.object %>
          <%= render partial: 'form', locals: { f: f } %>  
          <%= f.submit '投稿', class: "button is-success mt-6 is-fullwidth" %>
        <% end %>
      </div>
    </div>
  </div>
</section>
