<% if flash[:notice] %>
  <div  class="notification is-link is-light">
    <p class="notice"><%= notice %></p>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="notification is-danger is-light">
    <p class="alert"><%= alert %></p>
  </div>
<% end %>